body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #646464;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.particle {
    position: absolute;
}